# --- Symfony / PHP ---
APP_ENV=dev

# --- PostgreSQL ---
POSTGRES_DB=parry
POSTGRES_USER=parry
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_PORT=5433

# URL de la base vue par Symfony
DATABASE_URL=postgresql://parry:CHANGE_ME@db:5432/parry?serverVersion=16&charset=utf8

# --- OpenTelemetry / Uptrace ---
OTEL_SERVICE_NAME=backend-parry
OTEL_EXPORTER_OTLP_ENDPOINT=https://api.uptrace.dev
OTEL_EXPORTER_OTLP_HEADERS=uptrace-dsn=YOUR_UPTRACE_DSN_HERE
OTEL_RESOURCE_ATTRIBUTES=service.version=1.0.0,deployment.environment=dev

# --- Ports exposés ---
ADMINER_PORT=8082
PHP_PORT=8000

REDIS_PORT=6379
REDISINSIGHT_PORT=5540
REDIS_URL=redis://redis:6379

MERCURE_JWT_SECRET_PUBLISHER=CHANGE_ME
MERCURE_JWT_SECRET_SUBSCRIBER=CHANGE_ME

# --- Mercure ---
MERCURE_PORT=3000
MERCURE_JWT_SECRET=CHANGE_ME

MERCURE_URL=http://mercure/.well-known/mercure
MERCURE_PUBLIC_URL=http://localhost:3000/.well-known/mercure

### Vertex AI
VERTEX_PROJECT_ID=CHANGE_ME
VERTEX_LOCATION=europe-west1
VERTEX_IMAGE_MODEL=imagen-3.0-fast-generate-001
VERTEX_ACCESS_TOKEN=
