// Black & White Shades
$shade-100: hsla(0, 0%, 100%, 1);
$shade-090: hsla(0, 0%, 90%, 1);
$shade-080: hsla(0, 0%, 80%, 1);
$shade-070: hsla(0, 0%, 70%, 1);
$shade-060: hsla(0, 0%, 60%, 1);
$shade-050: hsla(0, 0%, 50%, 1);
$shade-040: hsla(0, 0%, 40%, 1);
$shade-030: hsla(0, 0%, 30%, 1);
$shade-020: hsla(0, 0%, 20%, 1);
$shade-010: hsla(0, 0%, 10%, 1);
$shade-000: hsla(0, 0%, 0%, 1);

// ---------------------
// Backgrounds
$bg-main: $shade-000;

// Accents
$accent-main: $shade-090;
