# Claude
CLAUDE.md

# IDE
.idea/
.vscode/
*.swp

# .env
.env.local
.env.*.local
.env
.env.example
.env.*

# TEST_GAME - Dossiers de test (à supprimer avant production)
app/components/test/
app/composables/test/
app/pages/test/