@use "./../util/colors";
@use "./../util/spacing";
@use "./../util/font-sizes";

.profil {
  display: flex;

  max-width: 42vh;

  .panel {
    &--content {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      max-height: 100%;
      width: 100%;

      gap: spacing.$s4;
    }
  }

  &Open {
    position: absolute;

    top: calc(spacing.$s5 * 3 + 1px);
    right: calc(spacing.$s5 * 3 + 1px);
  }

  &Close {
    position: absolute;

    top: spacing.$s0;
    right: spacing.$s0;

    font-size: 0px;
    gap: spacing.$s0;

    span {
      font-size: font-sizes.$f1;
    }
  }
}
