@use "../util/media-queries" as *;
@use "./../util/colors";
@use "./../util/spacing";
@use "./../util/font-sizes";

.panel {
  position: relative;

  width: 100%;

  @include respond-to(sm) {
    margin: spacing.$s2;
    padding: spacing.$s2;
  }
  @include respond-to(xs) {
    margin: spacing.$s1;
    padding: spacing.$s1;
  }

  margin: spacing.$s5;
  padding: spacing.$s5;

  border: 1px solid colors.$accent-main;

  border-radius: spacing.$s3;

  &--header {
    display: flex;
    align-items: center;

    position: absolute;

    top: 0;
    left: spacing.$s6;
    transform: translateY(-50%);

    padding: 0 spacing.$s3;
    gap: spacing.$s4;

    background-color: colors.$bg-main;

    @include respond-to(xs) {
      left: spacing.$s2;
      padding: 0 spacing.$s1;
      gap: spacing.$s2;
    }

    &--title {
      text-box: trim-both cap alphabetic;
      font-size: font-sizes.$f1;
      @include respond-to(xs) {
        font-size: font-sizes.$f0;
      }
    }
  }

  &--content {
    position: relative;

    display: grid;

    grid-column: 1;
    grid-row: 1;

    min-height: 100%;
    @include respond-to(xs) {
      padding: spacing.$s1 0;
    }
  }
}
