@use "./../util/colors";
@use "./../util/spacing";
@use "./../util/font-sizes";

.panel {
  position: relative;

  width: 100%;

  margin: spacing.$s5;
  padding: spacing.$s5;

  border: 1px solid colors.$accent-main;

  &--header {
    position: absolute;

    top: 0;
    left: spacing.$s6;
    transform: translateY(-50%);

    padding: 0 spacing.$s3;

    background-color: colors.$bg-main;

    &--title {
      font-size: font-sizes.$f1;
    }
  }

  &--content {
    min-height: 100%;
  }
}
