@use "./../util/colors";
@use "./../util/spacing";
@use "./../util/font-sizes";

.terminal {
  display: flex;

  .panel {
    &--content {
      max-height: 100%;
      width: 100%;

      ul {
        height: 100%;

        display: flex;
        flex-direction: column-reverse;

        overflow-y: auto;

        scrollbar-width: none;

        list-style-type: ">";

        padding-left: spacing.$s5;

        li {
          padding-left: spacing.$s3;
        }
      }
    }
  }
}
